.pl-c {  
  color: rgb(150, 152, 150);
}

.pl-c1, .pl-s .pl-v {  
  color: rgb(0, 134, 179);
}

.pl-e, .pl-en {  
  color: rgb(121, 93, 163);
}

.pl-s .pl-s1, .pl-smi {  
  color: rgb(51, 51, 51);
}

.pl-ent {  
  color: rgb(99, 163, 92);
}

.pl-k {  
  color: rgb(167, 29, 93);
}

.pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {  
  color: rgb(24, 54, 145);
}

.pl-v {  
  color: rgb(237, 106, 67);
}

.pl-id {  
  color: rgb(181, 42, 29);
}

.pl-ii {  
  background-color: rgb(181, 42, 29);  
  color: rgb(248, 248, 248);
}

.pl-sr .pl-cce {  
  color: rgb(99, 163, 92);  
  font-weight: bold;
}

.pl-ml {  
  color: rgb(105, 58, 23);
}

.pl-mh, .pl-mh .pl-en, .pl-ms {  
  color: rgb(29, 62, 129);  
  font-weight: bold;
}

.pl-mq {  
  color: rgb(0, 128, 128);
}

.pl-mi {  
  color: rgb(51, 51, 51);  
  font-style: italic;
}

.pl-mb {  
  color: rgb(51, 51, 51);  
  font-weight: bold;
}

.pl-md {  
  background-color: rgb(255, 236, 236);  
  color: rgb(189, 44, 0);
}

.pl-mi1 {  
  background-color: rgb(234, 255, 234);  
  color: rgb(85, 165, 50);
}

.pl-mdr {  
  color: rgb(121, 93, 163);  
  font-weight: bold;
}

.pl-mo {  
  color: rgb(29, 62, 129);
}

#oooo {  
  background-image: url("images/2.jpg");  -webkit-background-size: auto auto;
  background-size: auto auto;  -webkit-background-clip: padding-box;
  background-clip: padding-box;  
  background-attachment: fixed;  
  background-repeat: no-repeat;  
  background-color: rgb(204, 0, 0);
}

